$text_color: #28446E;
$bg_color: #CCFFFF;

html,
body {
  scroll-behavior: smooth;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  height: 100vh;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: $text_color;
}

::-webkit-scrollbar-thumb {
  background: #008686;

  &:hover {
    background: #00a6a6;
  }
}

.titoloPrincipale {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: $text_color;
  font-size: 120px;
}

.listaMenu {
  li {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4.5vh;
    text-transform: uppercase;
    margin-right: 1.5vw;
    display: inline;
    position: relative;
  }

  a {
    text-decoration: none;
    color: $text_color;

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: $text_color;
      transform: scaleX(0);
      transition: transform 0.3s ease;
    }

    &:hover::before {
      transform: scaleX(1);
    }
  }
}

.menu-corrente {
  font-size: 150%;
}

.paragrafoPresentazione {
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  -webkit-animation: fade-in-bottom 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in-bottom 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  color: #161E3C;
}

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.ciao {
  font-size: 40px;
  color: rgb(2, 134, 134);
}

.tastoScrollPagina {
  color: #28446E;
  -webkit-animation: shake 10s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
  animation: shake 10s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
  margin-top: auto;
  margin-bottom: 2vw;
}

.freccia-giù {
  color: #28446E;
  font-size: 25px;
  -webkit-animation: shake 10s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
  animation: shake 10s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
  width: fit-content;
  margin-top: auto;
}

@-webkit-keyframes shake {

  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  80% {
    -webkit-transform: translateY(6.4px);
    transform: translateY(6.4px);
  }

  90% {
    -webkit-transform: translateY(-6.4px);
    transform: translateY(-6.4px);
  }
}

@keyframes shake {

  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  80% {
    -webkit-transform: translateY(6.4px);
    transform: translateY(6.4px);
  }

  90% {
    -webkit-transform: translateY(-6.4px);
    transform: translateY(-6.4px);
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.biografia {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 15vw;
  margin-bottom: 15vw;
  height: 100vh;
  scroll-margin-top: 2vh;
  color: #161E3C;
  padding-top: 20px;

  h2 {
    font-size: 2.5vw;
  }
}

.fade {
  opacity: 0;
  transition: opacity 1.5s;
}

.fade1 {
  opacity: 1;
  transition: opacity 1.5s;
}

.paragrafo {
  font-size: 27px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 13vh;
}

.immagineGabriel1 {
  width: 62.5vh;
  max-width: 30%;
  border: $text_color solid 2.5px;
  border-radius: 5%;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.iconaScendi {
  font-size: 3vw;
  color: $text_color;
}

.secondoParagrafo {
  text-align: end;
  margin-right: 5%;
  scroll-margin-top: 5vh;
}

.immagineProgrammi {
  width: 64vh;
  max-width: 30%;
}

.scroll-scale {
  scroll-margin-top: 7vh;
}

.immagineTeam {
  width: 64vh;
  max-width: 30%;
}

.profiliSocial {
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(160, 219, 219);
  width: 40rem;
  border-radius: 10px;
  height: 21rem;
  margin-bottom: 20px;
}

.titolo-contatti {
  font-size: 25px;
  color: $text_color;
  margin-bottom: 1%;
}

.listaSocial {
  list-style: none;
  width: 17rem;
  padding: 0;
  color: $text_color;
  line-height: 2.8;
  margin-bottom: 0;
  margin-top: 1rem;

  li {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
  }

  a {
    text-decoration: none;
    color: $text_color;
  }
}

.immagine-github {
  width: 20rem;
  border-radius: 20px;
}

.github-link {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
  color: $text_color;
  font-size: 25px;
  display: flex;
  align-items: center;
}

.icona-git {
  font-size: 25px;
}

.first-col {
  flex: 0 0 0% !important;
}

.github {
  width: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 2rem;
}

/* Projects css */

.proj-paragraph{
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
}

.projects-container {
  display: flex;
  width: 90vw;
  height: 22vw;
  background-color: $text_color;
  border-radius: 20px;
  margin-top: 1vw;
  margin-bottom: 1vw;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;

  .proj-col, .focused-proj-col{
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    margin: 0 15px;
    transition: transform 0.5s ease, font-size 0.5s ease, opacity 0.5s ease, width 0.5s ease;
    text-decoration: none;
  }

    .proj-col {
      width: 25%;
      font-size: 1.5vw;
      text-decoration: none;
      color: $bg_color;
      opacity: 0.5;
      margin: 0 1vw 0 1vw;
      cursor: default;
      pointer-events: none;
      transition: transform 0.5s ease, width 0.5 ease;
    }

    .focused-proj-col {
      width: 40%;
      opacity: 1;
      font-size: 2.5vw;
      color: $bg_color;
      transition: transform 0.5s ease, width 0.5 ease;

      &:hover {
        transform: translateY(-10px);
        cursor: pointer;
      }
    }
  }

  .project-name {
    display: flex;
    text-align: center;
    font-weight: 500;
  }

.slideshow {
  display: flex;
  justify-content: center;
}

.arrow {
  font-weight: 500;
  font-size: 5vw;
  color: $text_color;
  border: none;
  background-color: transparent;
  padding: 0;
}