@media screen and (max-width: 768px) {
  .titoloPrincipale {
    font-size: 17vw;
  }

  .listaMenu li {
    font-size: 4vw;
  }

  .paragrafoPresentazione {
    font-size: 6vw;
  }

  .ciao {
    font-size: 8vw;
  }

  .tastoScrollPagina,
  .shake {
    font-size: 5vw;
  }

  /* Biography */

  .content {
    text-align: center;
  }

  .content img {
    width: 400px;
    margin-bottom: 10px;
  }

  .content p {
    font-size: 20px;
    line-height: normal !important;
  }

  .biografia {
    margin-bottom: 30px;
    height: 100%;
    scroll-margin-top: 1vh;
    color: #161E3C;
    padding-top: 1rem;
  }

  .iconaScendi {
    margin-top: 0;
    font-size: 35px;
  }

  .paragrafo {
    padding-bottom: 50px;
  }

  .secondoParagrafo {
    text-align: center;
    margin-right: 0;
  }

  .immagineGabriel1 {
    width: 250px !important;
  }

  .immagineProgrammi {
    width: 250px !important;
  }

  .immagineTeam {
    width: 250px !important;
  }


  /* Contatti */
  .profiliSocial {
    height: 40rem;
    width: 22rem;
  }

  .first-row, .second-col {
    width: fit-content !important;
    justify-content: center !important;
    align-items: center;
    padding-right: 0 !important;
  }

  .listaSocial{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0;
  }

  .titolo-contatti {
    font-size: 15px;
  }

  .github-link, .icona-git{
    font-size: 50px;
  }

}